<tr>
  <td><%= lot.programme_source_id %></td>
  <td><%= lot.lot_source_id %></td>
  <td><%= lot.terrasse_text %></td>
  <td><%= lot.parking_text %></td>
  <td>
    <% lot.images.split(';').each_with_index do |image, i| %>
      <a href="<%= image %>" target="_blank">Image <%= i+1 %></a>
      &nbsp;&nbsp;
    <% end %>
  </td>
</tr>
