<tr>
  <td><%= lot.id %></td>
  <td><%= image_tag lot.site.logo, width: 100, height: 70 %></td>
  <td>
    <%= lot.lot_name&.html_safe %><br/>
    <%= lot.full_desc&.html_safe %>
  </td>
  <td><%= lot.terrasse_text %></td>
  <td><%= lot.parking_text %></td>
  <td><%= lot.city_text %></td>
  <td><%= lot.expected_delivery %></td>
  <td><%= lot.expected_actability %></td>
  <td><%= lot.price_text %></td>
  <td><%= lot.notary_fee %></td>
  <td><%= lot.security_deposit %></td>
  <td>
    <% lot.images.split(';').each_with_index do |image, i| %>
      <a href="<%= image %>" target="_blank">Image <%= i+1 %></a>
      &nbsp;&nbsp;
    <% end %>
  </td>
</tr>
